html {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(0deg, rgba(0,70,193,1) 0%, rgba(0,153,255,1) 100%);
  background-image: url("https://live.staticflickr.com/4294/35092193734_db5ebd2f9e_b.jpg");
  background-image: url("file:///C:/Users/mgrant/Desktop/Michael's%20Phone%20Backup%20(July%209,%202020)/Phone/Pictures/AdobeLightroom/LRM_EXPORT_20180722_143034.jpg");
  background-size: cover;*/
}
#page_background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,70,193,1) 0%, rgba(0,153,255,1) 100%);
  /*background-image: url("https://live.staticflickr.com/4294/35092193734_db5ebd2f9e_b.jpg");*/
  background-image: url("../img/mauiwater_1080.jpg");
  background-size: cover;
}
body {
  width: 100%;
  /*height: 100%;*/
  min-height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#pagebody {
  width: 100%;
  max-width: 70em;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.9);
}
#copyright_footer {
  width: 100%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  color: #DDD;
}
#top_pane {
  position: relative;
  /*background-image: url("file:///C:/Users/mgrant/Desktop/Michael's%20Phone%20Backup%20(July%209,%202020)/SD%20Card/DCIM/Transfers/DSCF0426.JPG");*/
  background-image: url("../img/transamerica_1080_crop.jpg");
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}
#top_pane_bg {
  height: 16em;
}
#profile_image {
  display: none;
  background-image: none;
  width: 10em;
  height: 10em;
  background-color: red;
  border-radius: 50%;
}
#navbar {
  display: block;
  list-style-type: none;
  /*position: absolute;
  top: 0;*/
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}
#navbar > li {
  display: inline-block;
  width: 20%;
  height: 1.5em;
  margin: 0;
  min-width: 8em;
  max-width: 11em;
  text-align: center;
}
#navbar > li:hover {
  font-weight: 300;
  background-color: rgba(0,0,0,0.3);
}
#navbar > li > a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#navbar > li > a > span {
  vertical-align: middle;
}
#page_content {
  min-height: 30em;
  padding: 1em;
  position: relative;
}


.div-table {
  display: table;
  width: auto;
}

.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-col {
  float: left;
  /* fix for  buggy browsers */
  display: table-column;
  width: 200px;
  background-color: #ccc;
}